<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1>Sitios Cercanos
        </h1>
      </div>
      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">algun rest</h3>
            comida china
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-tachometer feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">algun otro</h3>
            comida japonesa
        </div>
      </div>


      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-expand feature-icon  text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">otro mas</h3>
              alitas y cerveza
        </div>
      </div>

        

    </div>

  </div>
</div>
